<div>
    <table width="100%">
        <tr>
            <th width="15%"></th>
            <th width="35%"></th>
            <th width="35%"></th>
            <th width="15%"></th>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <div #chatHistory style="overflow-y:scroll;margin-left:35%;margin-right: 35%;width:250px;max-height:200px"></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td></td>
            <td style="float:right;margin-right: -44px;">
                <input type="text" [(ngModel)]="userQuery" (keyup)="handleCommit($event)" />
            </td>
            <td></td>
        </tr>
    </table>

</div>